body {
	/* Stíll til að halda samræmi við thingeyjarsveit.is */
	
  background-color: #EFECE6 !important;
	color: #252525;
    line-height: 1.4;
    font-family: Lato, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type=text] {
	/* Passar lengdina á input */
    width: 171.08px !important; 
}
button{
	/* Stíll til að gera takkann eins og aðrir takkar á thingeyjarsveit.is */
    border-radius: 0 !important;
    background-color: #2c549c !important;
    box-shadow: none !important;
}
.grid-container{
	/* Grid með tveimur dálkum */
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    display: inline-grid;
}
#dates_gray_div {
	/* Fyrir gráa tunnu lista */
    margin-top: 1em;
    height: 20px;
}
#dates_blue_div {
	/* Fyrir bláa tunnu lista */
    margin-top: 1em;

}
#dates_green_div {
	/* Fyrir græna tunnu lista */
    margin-top: 1em;

}
.marginbot{
    margin-bottom: 100px;
}
.bluedatebox{
	/* Birtir box sem inniheldur næstu losun á blátunnum */
    background-color: #2c549c !important;
    width: 50% !important;
    display: float;
    float: right !important;
    height: 100px !important;
    color: white !important;
    text-align: center ;
    padding-top: 25px !important;
}
.graydatebox{
	/* Birtir box sem inniheldur næstu losun á grátunnum */
    background-color: gray !important;
    width: 50% !important;
    display: float;
    float: left !important;
    height: 100px !important;
    color: white !important;
    text-align: center;
    padding-top: 25px !important;
}
.greendatebox{
	/* Birtir box sem inniheldur næstu losun á grænni tunnum */
    background-color: green !important;
    width: 50% !important;
    display: float;
    float: left !important;
    height: 100px !important;
    color: white !important;
    text-align: center;
    padding-top: 25px !important;
}
